/application/target/classes/META-INF/application.kotlin_module
/application/target/classes/test/task/server/application/Application.class
/application/target/classes/test/task/server/application/ApplicationKt.class
/application/target/classes/application.properties
/application/target/kaptStubs/compile/error/NonExistentClass.java
/application/target/kaptStubs/compile/test/task/server/application/Application.java
/application/target/kaptStubs/compile/test/task/server/application/Application.kapt_metadata
/application/target/kaptStubs/compile/test/task/server/application/ApplicationKt.java
/application/target/kaptStubs/compile/test/task/server/application/ApplicationKt.kapt_metadata
/application/target/maven-archiver/pom.properties
/application/target/maven-status/maven-compiler-plugin/compile/java-compile/createdFiles.lst
/application/target/maven-status/maven-compiler-plugin/compile/java-compile/inputFiles.lst
/application/target/application-0.0.1-SNAPSHOT.jar
/application/target/application-0.0.1-SNAPSHOT.jar.original
/model/target/classes/META-INF/model.kotlin_module
/model/target/classes/test/task/server/model/TestModel.class
/model/target/kaptStubs/compile/error/NonExistentClass.java
/model/target/kaptStubs/compile/test/task/server/model/TestModel.java
/model/target/kaptStubs/compile/test/task/server/model/TestModel.kapt_metadata
/model/target/maven-archiver/pom.properties
/model/target/maven-status/maven-compiler-plugin/compile/java-compile/createdFiles.lst
/model/target/maven-status/maven-compiler-plugin/compile/java-compile/inputFiles.lst
/model/target/model-0.0.1-SNAPSHOT.jar
